<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 쿼리문 작성 -->    
    <mapper namespace="mem">
    	<select id="list" resultType="spring_06_mvc.sec05_redirect.MemDTO">
    		SELECT * FROM hr.mem ORDER BY num desc
    	</select>
    	
    	<insert id="ins" parameterType="spring_06_mvc.sec05_redirect.MemDTO">
    		INSERT INTO hr.mem
    		<!-- VALUES (#{num}, #{name}, #{age}, #{loc}) -->
    		VALUES (mem_num_seq.nextval, #{name, jdbcType=VARCHAR}, #{age}, #{loc, jdbcType=VARCHAR})
    		<!-- [참고.mybatis에서] DB에서 varchar2 타입인 컬럼(not null 제약조건에 없는)에 값을 주지 않고 넘기면 null로 들어감. number 타입은 0으로 자동으로 들어감 -->
    	</insert>
    </mapper>